/* Global Styles */
@font-face {
  font-family: Bohemian;
  src: url("Bohemian Typewriter.ttf");
}

:root {
  --primary-color: #944013;
  --dark-color: #410802;
  --info-color: #174fb7;
  --light-color: #f0e4d1;
  --danger-color: #c62317;
  --success-color: #46a318;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: auto;
  padding: 0;
  font-family: "Bohemian";
  color: var(--dark-color);
}

body {
  font-size: 1.2rem;
  background-color: var(--light-color);
  line-height: 1.6;
}

a {
  color: var(--light-color);
}

#imp {
  display: block;
  color: var(--dark-color);
  position: relative;
  margin: 2rem auto;
  text-align: center;
}

p {
  margin: 0.2rem 0.1rem;
}

ul {
  list-style: none;
}

#pagetitle {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--light-color);
  top: 0;
  width: 40%;
  height: 15rem;
  padding: 0.5rem;
  opacity: 0.95;
  z-index: -100;
}

#about img {
  width: 100%;
  max-width: 35rem;
  height: auto;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
}

h1,
h2 {
  font-size: 3rem;
}

/* Utilities */
.container {
  min-height: 600px;
  width: 80%;
  margin: 0 auto 0 auto;
  top: 0;
  overflow: hidden;
  background-color: var(--light-color);
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0.5rem;
  background-color: var(--dark-color);
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar ul li {
  display: block;
}

.navbar ul li a {
  display: block;
  color: var(--light-color);
  text-align: center;
  font-size: larger;
  padding: 0.4rem;
}

.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 5rem;
  font-size: 2rem;
  text-align: center;
}

.header-icons i {
  margin: 0 5%;
  color: var(--light-color) !important;
}

.footer-icons i {
  margin: 1rem 0;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--dark-color) !important;
}

/* Sidebar */
#sidebar {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
  height: 30rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--dark-color);
  opacity: 0.9;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

#sidebar a {
  margin: 2.5rem 0 2rem 2.5rem;
}

/* Custom */
.slide-container {
  width: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.each-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 28rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.each-slide img {
  width: 100%;
  height: 100%;
  max-height: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.past {
  opacity: 0.5;
}

/* Mobile Styles */
@media (max-width: 700px) {
  body {
    line-height: 1.2;
    font-size: 1rem;
  }
  .container {
    width: 92%;
  }
  div .banner {
    font-size: 2rem !important;
  }
  #pagetitle {
    width: 80%;
    height: 10rem;
  }
  h1,
  h2 {
    font-size: 1.8rem;
  }
  .navbar {
    display: none;
  }
  #sidebar {
    display: none;
  }
  .each-slide {
    height: 15rem;
  }
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=App.css.map */