/* Global Styles */
:root {
  --primary-color: #944013;
  --dark-color: #470a03;
  --info-color: #174fb7;
  --light-color: #f9e8ce;
  --danger-color: #c62317;
  --success-color: #46a318;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: var(--dark-color);
}

body {
  font-size: 1rem;
  background-color: var(--light-color);
  line-height: 1.6;
}

a {
  color: var(--light-color);
}

p {
  margin: 1rem 0.1rem;
}

ul {
  list-style: none;
}

#pagetitle {
  display: block;
  position: sticky;
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  font-weight: 5;
  font-size: 8rem;
  top: 0;
  padding: 0.5rem;
  opacity: 0.95;
  z-index: -100;
}

h1,
h2 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 4rem;
}

/* Utilities */
.container {
  min-height: 600px;
  width: 96%;
  margin: 0 2% 0 2%;
  top: 0;
  overflow: hidden;
  background-color: var(--light-color);
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.1rem 0.5rem;
  background-color: var(--dark-color);
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: space-evenly;
  justify-content: space-around;
}

.navbar ul li {
  display: block;
}
.navbar ul li a {
  display: block;
  color: var(--light-color);
  text-align: center;
  font-size: larger;
  padding: 0.4rem;
}

.header-icons {
  display: flex;
  flex-wrap: nowrap;
  width: 5rem;
  font-size: 2rem;
  text-align: center;
}

.header-icons i {
  margin: 0 5%;
  color: var(--light-color) !important;
}

/* Sidebar */
#sidebar {
  display: none;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dark-color);
  opacity: 0.9;
  position: sticky;
  left: 0;
  top: 0;
}

#sidebar a {
  margin: 2.5rem 0 2rem 2.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  body {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  div .banner {
    font-size: 2rem !important;
  }

  .card:active .card-inner {
    transform: rotateX(180deg);
  }

  .navbar {
    display: none;
  }

  #sidebar {
    display: none;
  }

  .each-slide {
    height: 15rem;
    object-fit: scale-down;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom */

// Slideshow

.slide-container {
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 30rem;
}
